.menu-bar {
  background-color: black;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-radius: 10px;
  height: 30px;
}
.menu-bar li {
  text-decoration: none;
  color: aliceblue;
}
.menu-bar li:hover {
  color: aliceblue;
  transform: scale(1.1);
  transition: 0.3s ease-in;
}
