.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
}
.container li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.links {
  text-decoration: none;
  color: black;
}
.links:active {
  text-decoration: none;
}
